<div class="col-md-4 col-xs-4">
  <div class="panel panel-default" data-test-episode>
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        Episode
      </h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>
          <label>Number</label>
        </dt>
        <dd data-test-episode-number>
          {{model.number}}
        </dd>
        <dt>
          <label>Title</label>
        </dt>
        <dd data-test-episode-title>
          {{model.title}}
        </dd>
        <dt>
          <label>Description</label>
        </dt>
        <dd data-test-episode-description>
          {{model.description}}
        </dd>
      </dl>
      <div class="form-actions">
        <button class="btn btn-default pull-right"
          {{action (transition-to 'episodes.edit' model)}}
          data-test-edit-episode-btn>
          Edit
        </button>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Show Notes
      </h3>
    </div>
    <div class="list-group" data-test-show-notes>
      {{#each model.showNotes as |showNote|}}
        {{#link-to 'episodes.show.show-note' model showNote class='list-group-item show-note'}}
          <h4 class="list-group-item-heading" data-test-show-note-timestamp>
            {{showNote.timeStamp}}
          </h4>
          <p class="list-group-item-text" data-test-show-note-resource-title>
            {{showNote.resource.title}}
          </p>
        {{/link-to}}
      {{/each}}
    </div>
  </div>

</div>
{{outlet}}
