<div class="col-md-4 col-xs-4">
  <div class="panel panel-default" data-test-episode>
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        Episode
      </h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>
          <label>Number</label>
        </dt>
        <dd data-test-episode-number>
          {{model.number}}
        </dd>
        <dt>
          <label>Title</label>
        </dt>
        <dd data-test-episode-title>
          {{model.title}}
        </dd>
        <dt>
          <label>Description</label>
        </dt>
        <dd data-test-episode-description>
          {{model.description}}
        </dd>
      </dl>
      <div class="form-actions">
        <button class="btn btn-default pull-right"
          {{action (transition-to 'episodes.edit' model)}}
          data-test-edit-episode-btn>
          Edit
        </button>
      </div>
    </div>
  </div>

  {{person-list
    title='Guests'
    add=(route-action 'addGuest' model)
    remove=(route-action 'removeGuest' model)
    people=model.guests}}

  {{show-note-list showNotes=model.showNotes}}

</div>
{{outlet}}
