<div class="col-md-4 col-xs-4">
  <div class="panel panel-default" data-test-episode>
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        Episode
      </h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>
          <label>Published</label>
        </dt>
        <dd data-test-episode-published>
          {{model.published}}
        </dd>
        <dt>
          <label>Number</label>
        </dt>
        <dd data-test-episode-number>
          {{model.number}}
        </dd>
        <dt>
          <label>Title</label>
        </dt>
        <dd data-test-episode-title>
          {{model.title}}
        </dd>
        <dt>
          <label>Slug</label>
        </dt>
        <dd data-test-episode-slug>
          {{model.slug}}
        </dd>
        <dt>
          <label>Byte Length</label>
        </dt>
        <dd data-test-episode-byte-length>
          {{model.byteLength}}
        </dd>
        <dt>
          <label>Duration</label>
        </dt>
        <dd data-test-episode-duration>
          {{model.duration}}
        </dd>
        <dt>
          <label>Release Date</label>
        </dt>
        <dd data-test-episode-release-date>
          {{model.releaseDate}}
        </dd>
        <dt>
          <label>Filename</label>
        </dt>
        <dd data-test-episode-filename>
          {{model.filename}}
        </dd>
        <dt>
          <label>Description</label>
        </dt>
        <dd data-test-episode-description>
          {{model.description}}
        </dd>
      </dl>
      <div class="form-actions">
        <button class="btn btn-default pull-right"
          {{action (transition-to 'episodes.edit' model)}}
          data-test-edit-episode-btn>
          Edit
        </button>

        {{#bs-modal open=showDeleteModal onHidden=(action (mut showDeleteModal) false) as |modal|}}
            {{#modal.header}}
                <h4 class="modal-title">Delete Episode</h4>
            {{/modal.header}}
            {{#modal.body}}
              Are you sure you want to delete "Episode {{model.number}} - {{model.title}}"?
            {{/modal.body}}
            {{#modal.footer}}
                {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
                {{#bs-button type="danger" onClick=(pipe-action (route-action 'deleteEpisode' model) modal.close (transition-to 'episodes'))}}Delete{{/bs-button}}
            {{/modal.footer}}
        {{/bs-modal}}
        {{#bs-button type='danger' onClick=(action (mut showDeleteModal) true) data-test-delete-episode-btn=true}}Delete{{/bs-button}}
      </div>
    </div>
  </div>

  {{people-select
    title='Guests'
    add=(route-action 'addGuest' model)
    remove=(route-action 'removeGuest' model)
    people=model.guests}}

  {{show-note-list showNotes=model.showNotes}}

</div>
{{outlet}}
