<div class="col-md-4 col-xs-4">
  <div class="panel panel-default" data-test-person>
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        Person
      </h3>
    </div>
    <div class="panel-body">
      <div class="text-center">
        <img src={{model.avatarUrl}} class="rounded img-thumbnail">
      </div>
      <dl>
        <dt>
          <label>Name</label>
        </dt>
        <dd data-test-person-name>
          {{model.name}}
        </dd>
        <dt>
          <label>Handel</label>
        </dt>
        <dd data-test-person-Handel>
          {{model.handle}}
        </dd>
        <dt>
          <label>Tagline</label>
        </dt>
        <dd data-test-person-tagline>
          {{model.tagline}}
        </dd>
        <dt>
          <label>Bio</label>
        </dt>
        <dd data-test-person-bio>
          {{model.bio}}
        </dd>
        <dt>
          <label>url</label>
        </dt>
        <dd data-test-person-url>
          {{model.url}}
        </dd>
      </dl>
      <div class="form-actions">
        <button class="btn btn-default pull-right"
          {{action (transition-to 'people.edit' model)}}
          data-test-edit-person-btn>
          Edit
        </button>
      </div>
    </div>
  </div>

  {{episodes-list episodes=model.episodes}}

</div>

<div class="col-md-4 col-xs-4">
  {{resource-list resources=model.resources}}
</div>
