<div class="col-md-4 col-xs-4">
  <div class="panel panel-default" data-test-show-note>
    <div class="panel-heading clearfix">
      <h3 class="panel-title" data-test-show-note-title>
        Show Note
      </h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>
          <label>Time Stamp</label>
        </dt>
        <dd data-test-episode-description>
          {{model.timeStamp}}
        </dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default" data-test-resource>
    <div class="panel-heading clearfix">
      <h3 class="panel-title" data-test-resource-title>
        Resource
      </h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>
          <label>URL</label>
        </dt>
        <dd data-test-episode-description>
          {{model.resource.url}}
        </dd>
      </dl>
      <dl>
        <dt>
          <label>Title</label>
        </dt>
        <dd data-test-episode-description>
          {{model.resource.title}}
        </dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-default clearfix" data-test-resource-authors>
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        Authors
      </h3>
    </div>
    <div class="panel-body">
      {{#each model.resource.authors as |author|}}
        <div class="panel panel-default" data-test-resource-author>
          <div class="panel-body">
            <dl>
              <dt>
                <label>Name</label>
              </dt>
              <dd data-test-person-name>
                {{author.name}}
              </dd>
            </dl>
            <dl>
              <dt>
                <label>Handle</label>
              </dt>
              <dd data-test-person-handle>
                {{author.handle}}
              </dd>
            </dl>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</div>
